<ion-view view-title="">
	<ion-nav-bar class="bar-stable">
	 	<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<section class="padding">
			<div class="row">
				<div class="col heading">
					<img ng-src="http://placehold.it/200x125" />
					<h4>Welcome back!</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="list list-inset">
						<label class="item item-input">
							<input type="text" placeholder="Email">
						</label>
						<label class="item item-input">
							<input type="password" placeholder="Password">
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<button class="button button-block button-stable" ui-sref='quiz.dashboard'>Sign In</button>
			</div>
		</section>
	</ion-content>
</ion-view>