<ion-view view-title="Dashboard">
	<ion-content>
		<section class="padding {{loadedStatus}}">
			<div class="heading">
				<h3>Welcome, User!</h3>
				<p>email@londonlife.com</p>
			</div>
<div class="card">

  <div class="item item-text-wrap">
			<div class="row center" style="position:relative">
    			<canvas tc-chartjs-doughnut chart-options="options" chart-data="data" ></canvas>
			</div>
			<div class="row center" style="position:relative">
				<div class="col center padding-top">
    				<h4>175 points</h4>
    			</div>
			</div>  
</div>

</div>
<div class="card">
  <div class="item item-text-wrap">
			<div class="row center" style="position:relative">
				<div class="col center padding-bottom">
    				<h4>Your Progress</h4>
    			</div>
			</div>    
			<div class="row center">
				<div class="progress-label"><p>Theme 1</p></div>
				<div class="progress progress-70"></div>
			</div>
			<div class="row center">
				<div class="progress-label"><p>Theme 2</p></div>			
				<div class="progress progress-25"></div>
			</div>			
			<div class="row center">
				<div class="progress-label"><p>Theme 3</p></div>			
				<div class="progress progress-10"></div>
			</div>  </div>

</div>		


			<div class="row center">
				<button class="button button-block button-stable" ui-sref='quiz.select'>Take a quiz!</button>
			</div>			
		</section>
	</ion-content>
</ion-view>