<ion-view view-title="Game of LifeCo" >
	<ion-content>
		<section class="padding">
			<div class="heading padding-bottom">
				<img ng-src="http://placehold.it/100x100" />
				<h2>TAKE A QUIZ</h2>
				<p>What topic would you like to try?</p>
			</div>
			<div class="card list" ng-controller="CategoriesController as category">
				<a class="item item-avatar" href="#/quiz/view/{{category.quizzes.indexOf(quiz)}}" ng-repeat="quiz in category.quizzes">
					<img ng-src="http://placehold.it/30x30" />
					<h2>{{quiz.name}}</h2>
					<p>{{quiz.tagline}}</p>
				</a>
			</div>
		</section>
	</ion-content>
</ion-view>