<ion-view view-title="Game of LifeCo">
	<ion-content>
		<section class="padding">
			<div class="heading">
				<img ng-src="http://placehold.it/100x100" />
				<h2>{{quiz.name}}</h2>
				<p>{{quiz.tagline}}</p>
			</div>
			<div class="card" ng-repeat="question in quiz.questions">
			  	<div class="item item-text-wrap" style="border-bottom: 2px solid #E1E1E1;" data-value="{{question.value}}">
			    	{{question.question}}
			  	</div>
			  	<!-- <div class="list"> -->
			  	<ul class="list">
				  <li class="item item-checkbox" ng-repeat="option in question.options">
				     <label class="checkbox checkbox-stable">
				       <input type="checkbox">
				     </label>
					    {{option.text}}
				  </li>
				</ul>
<!-- 					<label class="item item-radio" ng-repeat="option in question.options">
						<input type="radio" name="group">
							<div class="item-content">
							    {{option.correct ? quiz.correct='true' : quiz.correct='false'}}
							    {{option.text}}
							</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>	 -->			  
				<!-- </div> -->
			</div>
		</section>
	</ion-content>
	<div class="bar bar-footer bar-stable">
		<div class="button-bar">
			<button class="button button-outline button-stable">Hint</button>
			<button class="button button-outline button-dark">Submit</button>
		</div>
	</div>	
</ion-view>