<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar bar-header bar-light">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar bar-header bar-light">
			<h1 class="title">
		 </h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item class="item-avatar">
					<img ng-src="http://placehold.it/30x30" />
					<h2>Your Name</h2>
					<p>email@londonlife.com</p>
				</ion-item>
				<ion-item>
					My Name
				</ion-item>
				<ion-item>
					email@londonlife.com
				</ion-item>
				<ion-item>
					<input type="password" value="password">
				</ion-item>
				<ion-item>
					Notifications
				</ion-item>
				<ion-item>
					Support
				</ion-item>
				<ion-item menu-close href="#">
					Logout
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>