<ion-view view-title="">
	<ion-nav-bar class="bar-stable">
	 	<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<section class="padding">
			<div class="row">
				<div class="col heading">
					<img ng-src="{{lastPhoto ? (lastPhoto.indexOf('http')>-1? lastPhoto : 'data:image/gif;base64,'+lastPhoto) : 'http://placehold.it/200x125'}}" style="width:200px; height:125px;"/>
					<!-- <img data-ng-src="data:image/gif;base64,{{lastPhoto}}" /> -->
					<h4>Create an account</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
				</div>
				<div class="col center">
					<button class="button button-large button-outline icon ion-android-camera" ng-click="getPhoto()"></button>
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="list list-inset">
						<label class="item item-input">
							<input type="text" placeholder="Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Email">
						</label>
						<label class="item item-input">
							<input type="password" placeholder="Password">
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<button class="button button-block button-stable">Sign up</button>
			</div>
		</section>
	</ion-content>
</ion-view>