<ion-view view-title="">
	<ion-nav-bar class="bar-stable"></ion-nav-bar>
	<ion-content>
		<section class="padding">
			<div class="row">
				<div class="col heading">
					<img ng-src="http://placehold.it/200x125" />
					<h4>The Game of LifeCo</h4>
				</div>
			</div>
			<div class="row">
				<button class="button button-block button-stable" ui-sref='login'>Sign In</button>
			</div>
			<div class="row">
				<button class="button button-block button-stable" ui-sref="signup">Sign up</button>
			</div>
		</section>
	</ion-content>
</ion-view>