<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" >
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar">
          <img ng-src="http://placehold.it/30x30" />
          <h2>Your Name</h2>
          <p>email@londonlife.com</p>
        </ion-item>
        <ion-item menu-close href="#/quiz/dash">
          Dashboard
        </ion-item>        
        <ion-item menu-close href="#/quiz/select">
          Take Quizzes
        </ion-item>
        <ion-item menu-close href="#">
          Your Badges
        </ion-item>
        <ion-item menu-close href="#">
          Your Account
        </ion-item>
        <ion-item menu-close href="#">
          Glossary
        </ion-item>
        <ion-item menu-close href="#">
          Settings
        </ion-item>
        <ion-item menu-close href="#/">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
<ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Settings
     </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar">
          <img ng-src="http://placehold.it/30x30" />
          <h2>Your Name</h2>
          <p>email@londonlife.com</p>
        </ion-item>
        <ion-item>
          My Name
        </ion-item>
        <ion-item>
          email@londonlife.com
        </ion-item>
        <ion-item>
          <input type="password" value="password">
        </ion-item>
        <ion-item>
          Notifications
        </ion-item>
        <ion-item>
          Support
        </ion-item>
        <ion-item menu-close href="#/">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

