/* Empty. Add your own CSS if you like */
html, body {
    height: 100%;
	min-height:100%;
}
.heading {
	margin: 0 auto;
	text-align: center;
}

.center {
	margin: 0 auto;
	text-align: center;
}
h1,h2,h3,h4,h5 {
	font-weight: 400;
}
.progress-label {
	padding-right:10px;
}

.progress {
	height: 20px;
	margin-bottom:2px;
	width:100%;
	transition: max-width 0.5s;
}

.progress-70{
	display:block;
	height:20px;
	max-width:70%;
	background-color: #F7464A;
}
.progress-70:hover{
	background-color: #FF5A5E;
}


.progress-25 {
	max-width:30%;
	background-color: #46BFBD;	
}
.progress-25:hover{
	background-color: #5AD3D1;	
}

.progress-10 {
	max-width:10%;
	background-color: #FDB45C;	
}
..progress-10:hover {
	background-color: #FFC870;	
}